<div class="plan-card plan-card-gaming" style="max-width: 320px;">
  <div class="plan-card-bg" aria-hidden="true"></div>
  <div class="plan-card-date">SAT, FEB 14</div>
  <div class="plan-card-glass">
    <div class="plan-card-title">Gaming Tournament</div>
    <div class="plan-card-location">
      <svg viewBox="0 0 24 24" fill="currentColor" width="16" height="16"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/></svg>
      <span>GameZone Arcade, CA</span>
    </div>
    <div class="plan-card-attendees">
      <img class="attendee-avatar" src="https://i.pravatar.cc/48?img=12" alt="">
      <img class="attendee-avatar" src="https://i.pravatar.cc/48?img=32" alt="">
      <img class="attendee-avatar" src="https://i.pravatar.cc/48?img=9" alt="">
      <img class="attendee-avatar" src="https://i.pravatar.cc/48?img=22" alt="">
    </div>
  </div>
</div>
