<div class="ds-recent-activity">
  <div class="ds-recent-item">
    <div class="ds-recent-avatar">
      <img src="https://i.pravatar.cc/80?img=11" alt="">
    </div>
    <div class="ds-recent-name">John</div>
    <div class="ds-recent-detail">Climbing • Rock Gym</div>
  </div>
  <div class="ds-recent-item">
    <div class="ds-recent-avatar">
      <img src="https://i.pravatar.cc/80?img=44" alt="">
      <span class="ds-recent-count">2</span>
    </div>
    <div class="ds-recent-name">Concerts</div>
    <div class="ds-recent-detail">3 Friends</div>
  </div>
  <div class="ds-recent-item">
    <div class="ds-recent-avatar">
      <img src="https://i.pravatar.cc/80?img=33" alt="">
      <span class="ds-recent-count">4</span>
    </div>
    <div class="ds-recent-name">Game Crew</div>
    <div class="ds-recent-detail">5 members</div>
  </div>
</div>
